/* .gradient-background {
  background: linear-gradient(300deg, #a7d12c, #a7d12c, #2d6326);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.gradient-background {
    background-color: #2d6326;
  }



body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
  }

/*----------------- NAV --------------------*/
  
  .logo {
    height: 50px; 
    border-radius: 5px;
    display: flex;
    justify-content: center;
  }

  
  
  /*-----------------------------HERO-----------------*/
  
  .Casalux{
    width: 1300px;
    object-fit: cover;
  }
  

  /*----------------- PROPIEDADES ----------------*/

  .card img {
    width: 100%;
    height: 250px; /* Ajusta la altura deseada */
    object-fit: cover; /* Recorta la imagen manteniendo proporción */
  }
  
  
  /*--------------- FOOTER ---------------*/

  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  footer {
    position: relative;
  }

  .footer-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* evita que salte de línea */
  }

  @media screen and (min-width: 1300px){

      .Casalux{
        width: 1700px;
        height: 600px;
      }
    
  }

  @media screen and (min-width: 1680px){

      .Casalux{
        width: 1900px;
        height: 900px;
      }
    
  }